@mixin dark-theme {
    --primary: #23B0FF;

    --background: #1D212C;
    --foreground: #EBEDF0;
    --border-color: #FFF0E020;

    a.logo {
        color: black;
    }
}

@mixin light-theme {
    --primary: #0C5AA2;

    --background: white;
    --foreground: #1D212C;
    --border-color: #00001020;


    a.logo {
        color: white;
    }
}


:root {
    @media (prefers-color-scheme: dark) {
        @include dark-theme;
    }

    @media (prefers-color-scheme: light) {
        @include light-theme;
    }

    &.dark {
        @include dark-theme;
    }

    &.light {
        @include light-theme;
    }
}
