:root {
    @media (prefers-color-scheme: dark) {
        --primary: #23B0FF;

        --background: #1D212C;
        --foreground: #EBEDF0;
        --border-color: #FFF0E020;

        a.logo {
            color: black;
        }

    }

    @media (prefers-color-scheme: light) {
        --primary: #0C5AA2;

        --background: white;
        --foreground: #1D212C;
        --border-color: #00001020;


        a.logo {
            color: white;
        }
    }
}
