@import "variables";

.footer {
	&__container {
		margin: 2.5rem 0;
	}

	&__copyright {
		opacity: var(--opacity);

		@media (max-width: $tablet-max-width) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__copyright-separator {
		display: none;

		@media (min-width: $tablet-max-width) {
			display: inline;
		}
	}

	&__copyright-side {
		font-size: 0.75rem;

		@media (min-width: $tablet-max-width) {
			font-size: 1rem;
		}
	}
}
