.header {
	&__logo {
		display: flex;
	}

	&__logo:after {
		content: "";
		background: repeating-linear-gradient(-90deg, var(--color-primary), var(--color-primary) 2px, var(--color-transparent) 0, var(--color-transparent) 16px);
		width: 100%;
	}

	&__logo-link {
		text-decoration: none;
		background: var(--color-primary);
		padding: 5px 10px;
		color: var(--color-background);
	}
}
