@import "variables";

.header {

  &__logo {
    display: flex;

    &:after {
      content: '';
      background: repeating-linear-gradient(-90deg, var(--accent), var(--accent) 2px, transparent 0, transparent 16px);
      width: 100%;
    }

    a {
      text-decoration: none;
      background: var(--accent);
      padding: 5px 10px;
    }
  }

  .menu {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;

    &__links {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 10px 20px;
    }
  }
}
