@import "variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Typewriter", monospace;
  font-size: 1rem;
  line-height: 1.54;
  background-color: var(--color-background);
  color: var(--color-foreground);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  transition: background-color 0.3s, color 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.3;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4,
h5,
h6 {
  font-size: 1.2rem;
}


a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }
}

figure {
  display: table;
  max-width: 100%;
  margin: 25px 0;

  &.left,
  img {
    margin-right: auto;
  }

  &.center,
  img {
    margin-left: auto;
    margin-right: auto;
  }

  &.right,
  img {
    margin-left: auto;
  }

  figcaption {
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 5px;
    background: var(--color-primary);
    color: var(--color-background);

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }
}

code {
  font-family: monospace;
  font-feature-settings: normal;
  padding: 1px 6px;
  margin: 0 2px;
  font-size: .95rem;
}

pre {
  padding: 1rem;
  overflow: auto;
}

// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
  padding: 1rem 0;
}

pre table td {
  padding: 0;
}

// The line number cells
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}

pre mark {
  // If you want your highlights to take the full width.
  display: block;
  // The default background colour of a mark is bright yellow
  background-color: rgba(254, 252, 232, 0.9);
}

pre table {
  width: 100%;
  border-collapse: collapse;
}

pre {
  font-family: monospace;
  padding: 20px;
  font-size: .95rem;
  overflow: auto;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);

  @media (max-width: $phone-max-width) {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    padding: 0;
    margin: 0;
    background: none;
  }
}

blockquote {
  border-top: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  margin: 40px 0;
  padding: 25px;

  @media (max-width: $phone-max-width) {
    padding-right: 0;
  }

  &:before {
    content: 'â€';
    font-family: Georgia, serif;
    font-size: 3.875rem;
    position: absolute;
    left: -40px;
    top: -20px;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  p {
    position: relative;
  }

  p:before {
    content: '>';
    display: block;
    position: absolute;
    left: -25px;
    color: var(--color-primary);
  }
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0;
}

table,
th,
td {
  border: 1px dashed var(--color-primary);
  padding: 10px;
}

th {
  color: var(--color-primary);
}

ul,
ol {
  margin-left: 30px;
  padding: 0;

  li {
    position: relative;
  }

  @media (max-width: $phone-max-width) {
    margin-left: 20px;
  }
}

ol ol {
  list-style-type: lower-alpha;
}

.hidden {
  display: none;
}

.content {
  display: flex;
}

hr {
  width: 100%;
  border: none;
  background: var(--color-border);
  height: 1px;
}

.hidden {
  display: none;
}

.codeblock {
  position: relative;

  .codeblock__name {
    position: absolute;
    right: 0;
  }
}

.advice {
  border-left: 2px solid;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  [class^="advice__"]:not(.advice__content) {
    font-size: 1.2rem;
    font-style: italic;
    text-transform: capitalize;
    margin-bottom: 1rem;
  }

  .advice__content {
    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}

[class^="aspect-ratio"] {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.aspect-ratio-16-9 {
  padding-top: 56.25%;
}

.child-aspect-ratio {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.spotify {
  width: 100%;
  height: 232px;
  border-radius: 1rem;

  @media (max-width: $phone-max-width) {
    height: 352px;
  }
}
