{%- extends "base.html" -%}

{%- block title -%}
{{ trans(key="tag_tags", lang=lang) | capitalize }} | {{ config.title }}
{%- endblock -%}

{%- block head_meta -%}
<meta name="description" content='{{ trans(key="tag_all_tags", lang=lang) }}'>

<meta property="og:description" content='{{ trans(key="tag_all_tags", lang=lang) }}'>
<meta property="og:title" content="Tags | {{ config.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content='{{ get_taxonomy(kind=taxonomy.name) | get(key="permalink") }}'>

<meta name="twitter:card" content="summary_large_image">
{%- endblock head_meta -%}


{%- block content -%}
<div class="content">
    <div class="post">
        <h1 class="post-title">{{ trans(key="tag_all_tags", lang=lang) }}</h1>

        <ul>
            {%- for term in terms -%}
            <li class="tag-list">
                <a href="{{ term.permalink | safe }}">
                    {{ term.name }} ({{ term.pages | length }} {{ trans(key="post_post", lang=lang) }}{{ term.pages | length | pluralize }})
                </a>
            </li>
            {%- endfor -%}
        </ul>
    </div>
</div>
{%- endblock content -%}
