<footer class="footer__container">
	<div class="footer__copyright">
		<span>© {{ now() | date(format="%Y") }} {{ trans(key="footer_powered_by", lang=lang) }} <a rel="noopener noreferrer" target="_blank"
				href="https://www.getzola.org/">Zola</a></span>
		<span class="footer__copyright-separator"> :: </span>
		<span class="footer__copyright-side">{{ trans(key="footer_theme_by", lang=lang) }} <a rel="noopener noreferrer" target="_blank"
				href="https://github.com/pawroman/zola-theme-terminimal/">Terminimal</a></span>
		<span class="footer__copyright-separator"> :: </span>
		<span class="footer__copyright-side">{{ trans(key="footer_hosted_on", lang=lang) }} <a rel="noopener noreferrer" target="_blank"
				href="https://vercel.com/">Vercel</a></span>
	</div>
</footer>
