{%-extends "base.html" -%}

{%- block title -%}
404 | {{ config.title }}
{%- endblock title -%}

{%- block head_meta -%}
<meta name="description" content="Page not found">

<meta property="og:description" content="Page not found">
<meta property="og:title" content="404 | {{ config.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content='{{ get_url(path="404") }}'>

<meta name="twitter:card" content="summary">
{%- endblock head_meta -%}

{%- block content -%}
<div class="content">
    <div class="post">
        <h1 class="post-title">{%- block heading -%}{{ trans(key="lost") }}{%- endblock heading -%}</h1>
        <p>{%- block message -%}{{ trans(key="page_doesnt_exist") }}{%- endblock message -%}</p>
    </div>
</div>
{%- endblock content -%}
