{%- if page.translations -%}
{%- set translations = page.translations -%}
{%- elif section.translations -%}
{%- set translations = section.translations -%}
{%- else -%}
{%- set translations = [] -%}
{%- endif -%}

<!DOCTYPE html>
<html lang="{{ lang }}" prefix="og: https://ogp.me/ns#">

<head>
	<title>{%- block title -%}{%- endblock title -%}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
	<!-- Generate hash script tags with https://report-uri.com/home/hash/ -->
	<meta name="content-security-policy" content="script-src 'sha256-+zchuzq4uhsaJ4MxWoPD4tD0oGRS362K4Y7KYYQlGZQ=' 'strict-dynamic'; object-src 'none'; base-uri 'none';">
	<meta name="color-scheme" content="dark light">
	<meta name="theme-color" media="(prefers-color-scheme: light)" content="#FFFFFF">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#1D212C">

	<link rel="icon" href='{{ get_url(path="favicon.ico") }}'>

	{%- if current_url -%}
	<link rel="canonical" href="{{ config.extra.site_url ~ current_url | safe }}">
	{%- endif -%}

	{%- for translation in translations -%}
	<link rel="alternate" href="{{ config.extra.site_url ~ translation.permalink | safe }}" hreflang="{{ translation.lang }}">
	{%- if translation.lang == config.default_language -%}
	<link rel="alternate" href="{{ config.extra.site_url ~ translation.permalink | safe }}" hreflang="x-default">
	{%- endif -%}
	{%- endfor -%}

	<link rel="alternate" type="application/rss+xml" title="Venator RSS Feed" href='{{ get_url(path="blog/atom.xml") | safe }}'>

	<meta property="og:image" content='{{ get_url(path="og-image.png") }}'>

	{%- block head_meta -%}
	{%- endblock head_meta -%}

	<style>
		{{ load_data(path="style.css") | safe }}
	</style>
	<style>
		{{ load_data(path="header.css") | safe }}
	</style>
	<style>
		{{ load_data(path="nav.css") | safe }}
	</style>
	<style>
		{{ load_data(path="footer.css") | safe }}
	</style>

	{%- block content_style -%}
	{%- endblock content_style-%}
</head>

<body>
	{%- include "partials/header.html" -%}
	{%- include "partials/nav.html" -%}

	<main>
		{%- block content -%}
		{%- endblock content -%}
	</main>

	{%- include "partials/footer.html" -%}
</body>

</html>
