{%- import "macros/head.html" as head_macros -%}

{%- if page.translations -%}
{%- set translations = page.translations -%}
{%- elif section.translations -%}
{%- set translations = section.translations -%}
{%- else -%}
{%- set translations = [] -%}
{%- endif -%}

<!DOCTYPE html>
<html lang="{{ lang }}" prefix="og: https://ogp.me/ns#">

<head>
    <title>{%- block title -%}{%- endblock title -%}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noodp" />
    <meta name="color-scheme" content="dark light">

    <link rel="icon" href='{{ get_url(path="favicon.ico") }}'>

    {%- if current_url -%}
    <link rel="canonical" href="{{ config.extra.site_url ~ current_url | safe }}">
    {%- endif -%}

    {%- for translation in translations -%}
    <link rel="alternate" href="{{ config.extra.site_url ~ translation.permalink | safe }}" hreflang="{{ translation.lang }}">
    {%- if translation.lang == config.default_language -%}
    <link rel="alternate" href="{{ config.extra.site_url ~ translation.permalink | safe }}" hreflang="x-default">
    {%- endif -%}
    {%- endfor -%}

    <link rel="alternate" type="application/rss+xml" title="Venator RSS Feed" href='{{ get_url(path="blog/atom.xml") | safe }}'>

    <link rel="stylesheet" href='{{ get_url(path="style.css", trailing_slash=false) | safe }}'>

    <meta property="og:image" content='{{ get_url(path="og-image.png") }}'>

    {%- block head_meta -%}
    {%- endblock head_meta -%}
</head>

<body class="container">
    <header class="header">
        <div class="header__logo">
            {%- if lang == config.default_language -%}
            <a href='{{ get_url(path="/", trailing_slash=true) }}' class="logo">{{ trans(key="logo_text", lang=lang) }}</a>
            {%- else -%}
            <a href='{{ get_url(path="/", lang=lang) }}' class="logo">{{ trans(key="logo_text", lang=lang) }}</a>
            {%- endif -%}
        </div>

        <nav class="menu">
            <ul class="menu__links">
                {%- for item in config.extra.menu_items -%}
                <li class="menu__link">
                    {%- if item.external -%}
                    <a href="{{ item.url | safe }}" {%- if item.title -%}title="{{ item.title }}" {%- endif -%} target="_blank"
                        rel="noopener noreferrer">{{ item.name | safe }}</a>
                    {%- else -%}
                    <a href="{{ get_url(path=item.url, lang=lang) }}" {%- if item.title -%}title="{{ item.title }}" {%- endif -%}>{{ item.name | safe
                        }}</a>
                    {%- endif -%}
                </li>
                {%- endfor -%}
            </ul>

            <ul class="menu__links">
                {%- for translation in translations -%}
                {%- if translation.lang != lang -%}
                <li class="menu__link">
                    <a href="{{ translation.permalink | safe }}">
                        {{ translation.lang }}
                    </a>
                </li>
                {%- endif -%}
                {%- endfor -%}
                <li class="menu__link">
                    <input type="checkbox" id="theme-switch" class="theme__switch" />
                    <label for="theme-switch" class="theme__switch__label" /><span class="hidden">{{ trans(key="toggle_theme", lang=lang) }}</span></label>
                    <script>
                        const themeSwitch = document.querySelector('#theme-switch');
                        const darkTheme = "dark";
                        const lightTheme = "light";
                        const currentTheme = localStorage.getItem('theme');
                        const prefersColorScheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? darkTheme : lightTheme;

                        themeSwitch.checked = prefersColorScheme === lightTheme;

                        if (currentTheme) {
                            document.documentElement.classList.add(currentTheme);
                            themeSwitch.checked = currentTheme === lightTheme;
                        }

                        themeSwitch.addEventListener('change', (event) => {
                            const newTheme = event.target.checked ? lightTheme : darkTheme;
                            const oldTheme = event.target.checked ? darkTheme : lightTheme;
                            document.documentElement.classList.remove(oldTheme);
                            document.documentElement.classList.add(newTheme);
                            localStorage.setItem('theme', newTheme);
                        });
                    </script>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {%- block content -%}
        {%- endblock content -%}
    </main>

    <footer class="footer">
        <div class="copyright">
            <span>© {{ now() | date(format="%Y") }} {{ trans(key="footer_powered_by", lang=lang) }} <a rel="noopener noreferrer" target="_blank"
                    href="https://www.getzola.org/">Zola</a></span>
            <span class="copyright__sep">::</span>
            <span class="copyright__side">{{ trans(key="footer_theme_by", lang=lang) }} <a rel="noopener noreferrer" target="_blank"
                    href="https://github.com/pawroman/zola-theme-terminimal/">Terminimal</a></span>
            <span class="copyright__sep">::</span>
            <span class="copyright__side">{{ trans(key="footer_hosted_on", lang=lang) }} <a rel="noopener noreferrer" target="_blank"
                    href="https://vercel.com/">Vercel</a></span>
        </div>
    </footer>
</body>

</html>
