{%- extends "base.html" -%}

{%- block title -%}
{{ trans(key="site_title", lang=lang) }}
{%- endblock title -%}

{%- block head_meta -%}
<meta name="description" content='{{ trans(key="hero_tagline", lang=lang) }}'>

<meta property="og:description" content='{{ trans(key="hero_tagline", lang=lang) }}'>
<meta property="og:title" content='{{ trans(key="site_title", lang=lang) }}'>
<meta property="og:url" content="{{ config.base_url | safe }}">
<meta property="og:type" content="profile">
<meta property="og:profile:first_name" content="Denis">
<meta property="og:profile:last_name" content="Souron">
<meta property="og:profile:username" content="brack0">

<meta name="twitter:card" content="summary_large_image">
{%- endblock head_meta -%}

{%- block content -%}
<div class="hero">
    <div class="hero__main">
        <h1 class="hero__title">{{ trans(key="hero_title", lang=lang) }}</h1>
        <p class="hero__tagline">{{ trans(key="hero_tagline", lang=lang) }}</p>
    </div>
    <p>{{ trans(key="hero_hello_there", lang=lang) }}</p>
    <div>{{ trans(key="hero_content_1", lang=lang) }}<h2 class="hero__name">{{ trans(key="hero_content_2", lang=lang) }}</h2>{{ trans(key="hero_content_3", lang=lang) }}</div>
</div>
{%- endblock content -%}
