{%- extends "base.html" -%}

{%- block title -%}
{{ section.title }} | {{ config.title }}
{%- endblock -%}

{%- block head_meta -%}
<meta name="description" content="{{ section.description }}">

<meta property="og:description" content="{{ section.description }}">
<meta property="og:title" content="{{ section.title }} | {{ config.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ section.permalink }}">

<meta name="twitter:card" content="summary_large_image">
{%- endblock head_meta -%}

{%- block content_style -%}
<style>
	{{ load_data(path="section.css") | safe }}
</style>
{%- endblock content_style-%}

{%- block content -%}
<h1>{{ section.description }}</h1>
{%- if paginator -%}
{%- set show_pages = paginator.pages -%}
{%- else -%}
{%- set section = get_section(path="_index.md") -%}

{%- set show_pages = section.pages -%}
{%- endif -%}

{%- for page in show_pages -%}
<article class="post__container">
	<h2 class="post__title"><a href="{{ page.permalink }}" class="post__link">{{ page.title }}</a></h2>

	<footer class="post__footer">
		{{ page.date | date(format="%Y-%m-%d") }}

		{%- if page.taxonomies and page.taxonomies.tags -%}
		<span class="post__footer-tags">
			:: {{ trans(key="tag_tags", lang=lang) }}:&nbsp;
			{%- for tag in page.taxonomies.tags | sort | unique(case_sensitive=false) -%}
			<a href="{{ get_taxonomy_url(kind='tags', name=tag, lang=page.lang) }}">#{{ tag }}</a>
			{%- if not loop.last -%}{{ " " }}{%-endif -%}{# blank space between tags #}
			{%- endfor -%}
		</span>
		{%- endif -%}
	</footer>

	<div class="post__content">
		{{ page.summary | safe }}
	</div>
	<a href="{{ page.permalink }}"  class="post__read-more">
		{{ trans(key="post_read_more", lang=lang) }}&nbsp;&#8617;&#xFE0E;
	</a>
</article>
{%- endfor -%}
{%- if paginator.previous or paginator.next -%}
<nav class="post__pagination">
	{%- if paginator.previous -%}
	<a href="{{ paginator.previous }}" class="post__pagination-link">
		←&nbsp;{{ trans(key="paginator_newer_posts", lang=lang) }}
	</a>
	{%- endif -%}
	{%- if paginator.next -%}
	<a href="{{ paginator.next }}" class="post__pagination-link">
		{{ trans(key="paginator_older_posts", lang=lang) }}&nbsp;→
	</a>
	{%- endif -%}
</nav>
{%- endif -%}
{%- endblock content -%}
